SelectedFlow
[{"id":"46354152.b1897","type":"tab","label":"Flow 3"},{"id":"126e712.a8f408f","type":"dweetio in","z":"46354152.b1897","thing":"ModelTest01","name":"ModelTest01","x":94,"y":90,"wires":[["adfdd592.3a9728","7156afce.31d65","674ea94f.b0e938","c6c8da34.a31b98","da3f666d.b89408"]]},{"id":"3c2e3f8c.230b6","type":"ui_chart","z":"46354152.b1897","name":"Acc","group":"f4abca98.9df188","order":2,"width":0,"height":0,"label":"Acceleration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"45","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":662,"y":176,"wires":[[],[]]},{"id":"7156afce.31d65","type":"function","z":"46354152.b1897","name":"acc_x,y,z","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.payload = msg.payload.acc_x;\nmsg1.topic = 'Line1';\n\nmsg2.payload = msg.payload.acc_y;\nmsg2.topic = 'Line2';\n\nmsg3.payload = msg.payload.acc_z;\nmsg3.topic = 'Line3';\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":423,"y":175,"wires":[["3c2e3f8c.230b6"],["3c2e3f8c.230b6"],["3c2e3f8c.230b6"]]},{"id":"160f482c.b2b308","type":"debug","z":"46354152.b1897","name":"","active":true,"console":"false","complete":"false","x":699,"y":738,"wires":[]},{"id":"674ea94f.b0e938","type":"function","z":"46354152.b1897","name":"Speed","func":"var newMsg = { payload: msg.payload.speed };\nreturn newMsg;","outputs":1,"noerr":0,"x":413,"y":226,"wires":[["8b613c1.be87fc"]]},{"id":"8b613c1.be87fc","type":"ui_chart","z":"46354152.b1897","name":"Speed","group":"f4abca98.9df188","order":4,"width":0,"height":0,"label":"Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"45","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":662,"y":226,"wires":[[],[]]},{"id":"27f9970f.d04ae8","type":"openweathermap","z":"46354152.b1897","name":"Current_Weather","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":280,"y":788,"wires":[["e59347cc.8f1df8","24cb64a3.4961ec","a1f1cf0f.cb842","ef07fff7.77f65","160f482c.b2b308","90e757c6.6a7c88","338351b3.a82d4e"]]},{"id":"c6c8da34.a31b98","type":"function","z":"46354152.b1897","name":"Averaging Acceleration","func":"msg.payload.average = {};\n\nvar currentTime = new Date().getTime();\nif (!context.lastTime) {\n    context.lastTime = currentTime;\n    context.sum = msg.payload.acc_z;\n    context.count = 1;\n}\nif (currentTime-context.lastTime > 15000) {\n    // calculate average for previous messages\n    msg.payload.average = context.sum/context.count;\n    // start tracking average again\n    context.sum = msg.payload.acc_z;\n    context.count = 1;\n    context.lastTime = currentTime;\n} else {\n    context.sum += msg.payload.acc_z;\n    context.count +=1;\n}\n//var newMsg = {payload: msg.payload.average}\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":354,"wires":[["78823bd6.59e8e4"]]},{"id":"78823bd6.59e8e4","type":"function","z":"46354152.b1897","name":"Avg.Acc","func":"var newMsg = { payload: msg.payload.average };\nreturn newMsg;","outputs":1,"noerr":0,"x":549,"y":354,"wires":[["c03c4c26.b80e1"]]},{"id":"adfdd592.3a9728","type":"trigger","z":"46354152.b1897","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"2","extend":false,"units":"min","reset":"","name":"trigger","x":147,"y":644,"wires":[["3f316d9a.b699a2"]]},{"id":"3f316d9a.b699a2","type":"function","z":"46354152.b1897","name":"Location","func":"//msg.lat=msg.payload.latitude;//53.59;\n//msg.lon=msg.payload.longitude;//10.04;\nmsg.location = {};\nmsg.location.lat = msg.payload.latitude;//53.59;\nmsg.location.lon = msg.payload.longitude;//12;\nmsg.time = new Date();\n\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":644,"wires":[["27f9970f.d04ae8"]]},{"id":"e59347cc.8f1df8","type":"function","z":"46354152.b1897","name":"hrs of daylight","func":"var d = msg.time;\n//var d = new Date();\nvar n = d.getTime();\nvar st = msg.payload.sunset;\nmsg.sunhrs = Math.round((st*1000-n)/36000)/100;\n\nreturn msg;","outputs":1,"noerr":0,"x":809,"y":859,"wires":[["248dcac.a3a4d36"]]},{"id":"65be8c.98939174","type":"ui_gauge","z":"46354152.b1897","name":"","group":"298b986.343f268","order":3,"width":0,"height":0,"gtype":"gage","title":"Remaining daylight","label":"hrs","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1162,"y":859,"wires":[]},{"id":"248dcac.a3a4d36","type":"function","z":"46354152.b1897","name":"Hours","func":"var newMsg = { payload: msg.sunhrs };\nreturn newMsg;","outputs":1,"noerr":0,"x":981,"y":859,"wires":[["65be8c.98939174"]]},{"id":"a1f1cf0f.cb842","type":"function","z":"46354152.b1897","name":"sugestion","func":"msg.suggestion = {};\nif(msg.payload.windspeed>5) {\n    msg.suggestion = \"You could go wind surfing!\";\n} else if (msg.payload.clouds<50){\n    msg.suggestion = \"You could go for a run!\";\n} else {\n    msg.suggestion = \"You could go to the gym!\";\n}\n\n//var newMsg = { payload: msg.payload.windspeed };\n\n// if wind>...msg.suggestion=\"go wind surfing!\"\n// if it's raining ...go to the gym\nreturn msg;","outputs":1,"noerr":0,"x":938,"y":1102,"wires":[["8039750c.2ad568"]]},{"id":"24cb64a3.4961ec","type":"function","z":"46354152.b1897","name":"wind speed","func":"var newMsg = { payload: msg.payload.windspeed };\n\nreturn newMsg;","outputs":1,"noerr":0,"x":948,"y":986,"wires":[["5fbfcc66.961a84"]]},{"id":"5fbfcc66.961a84","type":"ui_chart","z":"46354152.b1897","name":"Wind Speed","group":"298b986.343f268","order":4,"width":0,"height":0,"label":"Wind speed m/s","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"45","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1144,"y":986,"wires":[[],[]]},{"id":"8039750c.2ad568","type":"ui_text","z":"46354152.b1897","group":"298b986.343f268","order":1,"width":0,"height":0,"name":"suggestion","label":"Suggestion","format":"{{msg.suggestion}}","layout":"col-center","x":1169,"y":1102,"wires":[]},{"id":"c03c4c26.b80e1","type":"function","z":"46354152.b1897","name":"position","func":"msg.manner = {};\nif (msg.payload <11 && msg.payload >8 && msg.payload !== null){\n    msg.manner = \"Laying down, facing up\";\n} else if (msg.payload <-8 && msg.payload >-11 && msg.payload !== null){\n    msg.manner = \"Laying down, facing down\";\n} else if (msg.payload != null){\n    msg.manner = \"Position unknown\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":354,"wires":[["36e12a0b.f87236","cc89d093.4e3"]]},{"id":"36e12a0b.f87236","type":"debug","z":"46354152.b1897","name":"","active":true,"console":"false","complete":"manner","x":944,"y":314,"wires":[]},{"id":"da3f666d.b89408","type":"function","z":"46354152.b1897","name":"Averaging Speed","func":"msg.payload.average = {};\n\nvar currentTime = new Date().getTime();\nif (!context.lastTime) {\n    context.lastTime = currentTime;\n    context.sum = msg.payload.speed;\n    context.count = 1;\n}\nif (currentTime-context.lastTime > 15000) {\n    // calculate average for previous messages\n    msg.payload.average = context.sum/context.count;\n    // start tracking average again\n    context.sum = msg.payload.speed;\n    context.count = 1;\n    context.lastTime = currentTime;\n} else {\n    context.sum += msg.payload.speed;\n    context.count +=1;\n}\n//var newMsg = {payload: msg.payload.average}\nreturn msg;","outputs":1,"noerr":0,"x":161,"y":500,"wires":[["ea6293c0.85156"]]},{"id":"ea6293c0.85156","type":"function","z":"46354152.b1897","name":"Avg.Speed","func":"//if (msg.payload.average !== null){\n  //  }\nvar newMsg = { payload: msg.payload.average };\nreturn newMsg;","outputs":1,"noerr":0,"x":360,"y":500,"wires":[["6eaf1c63.507494"]]},{"id":"6eaf1c63.507494","type":"function","z":"46354152.b1897","name":"motion","func":"msg.manner = {};\nif (msg.payload <0.5 && msg.payload !== null){\n    // speed below 0.5 is considered motionless\n    msg.manner = \"staying still\";\n} else if (msg.payload >= 0.5 && msg.payload < 2 && msg.payload !== null){\n    // speed bewteen 0.5-2 is considered walking\n    msg.manner = \"walking\";\n} else if (msg.payload >= 2 && msg.payload < 5.6 && msg.payload !== null){\n    // speed greater than 2 is considered cycling\n    msg.manner = \"cycling\";\n} else if (msg.payload >= 5.6 && msg.payload !== null){\n    // speed greater than 5.6 is considered driving\n    msg.manner = \"driving\";\n} else {msg.manner = null;}\n\nreturn msg;","outputs":1,"noerr":0,"x":518,"y":500,"wires":[["dc77fff8.3da6a"]]},{"id":"dc77fff8.3da6a","type":"function","z":"46354152.b1897","name":"motion sum","func":"//msg.payload.still = {};\n//msg.payload.walk = {};\n//msg.payload.cycle = {};\n//msg.payload.drive = {};\n\nif (!context.num1){\n    context.num1 = 0;\n}\nif (!context.num2){\n    context.num2 = 0;\n}\nif (!context.num3){\n    context.num3 = 0;\n}\nif (!context.num4){\n    context.num4 = 0;\n}\n\nif (msg.manner==\"staying still\"){\n    context.num1 +=1;\n}\nif (msg.manner==\"walking\"){\n    context.num2 +=1;\n}\nif (msg.manner==\"cycling\"){\n    context.num3 +=1;\n}\nif (msg.manner==\"driving\"){\n    context.num4 +=1;\n}\n\n//if (!context.value) {\n//  context.value = 0;}\n//context.value +=1;\n//msg.count = context.value;\n//return msg;\n\n\nvar td = 15/3600;\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nmsg1.payload = context.num1*td;\nmsg1.topic = 'No Motion';\n\nmsg2.payload = context.num2*td;\nmsg2.topic = 'Walking';\n\nmsg3.payload = context.num3*td;\nmsg3.topic = 'Cycling';\n\nmsg4.payload = context.num4*td;\nmsg4.topic = 'Driving';\n\nreturn [msg1, msg2, msg3, msg4];\n\n\n//return msg;\n\n\n","outputs":"4","noerr":0,"x":679,"y":500,"wires":[["86bca647.f86c58","8ad3c32f.8f3be"],["86bca647.f86c58","672c8dc7.c95404"],["86bca647.f86c58","672c8dc7.c95404"],["86bca647.f86c58","3fbc2699.08d30a"]]},{"id":"86bca647.f86c58","type":"ui_chart","z":"46354152.b1897","name":"Bar: hrs activity","group":"2201ded9.58b172","order":2,"width":0,"height":0,"label":"Hours of Activity","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1008,"y":483,"wires":[[],[]]},{"id":"672c8dc7.c95404","type":"function","z":"46354152.b1897","name":"sunlight hrs","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"clouds\":\n\t\tcontext.data.clouds = msg.payload;\n\t\tmsg = null;\n\t\tbreak;\n\tcase \"Walking\":\n\t\tcontext.data.walking = msg.payload;\n\t\tmsg = null;\n\t\tbreak;\n\tcase \"Cycling\":\n\t\tcontext.data.cycling = msg.payload;\n\t\tmsg = null;\n\t\tbreak;\n\tdefault:\n\t\tmsg = null;\n\t\tbreak;\n}\n\nif(context.data.clouds != null && context.data.walking != null && context.data.cycling != null){\n\tvar var1 = context.data.clouds/100;\n\tvar var2 = context.data.walking;\n\tvar var3 = context.data.cycling;\n\tvar varb = Math.round((var2+var3)*var1*100)/100;\n\tcontext.data=null;\n\treturn {payload:varb};\n} else return msg;","outputs":1,"noerr":0,"x":882,"y":642,"wires":[["b12b358.bba5dc8","1905ae0.4919852"]]},{"id":"ef07fff7.77f65","type":"function","z":"46354152.b1897","name":"Clouds","func":"var newMsg = { payload: msg.payload.clouds };\nnewMsg.topic = 'clouds'\nreturn newMsg;","outputs":1,"noerr":0,"x":692,"y":642,"wires":[["672c8dc7.c95404"]]},{"id":"573d5685.7b2b98","type":"comment","z":"46354152.b1897","name":"Every 10mins collects location info","info":"","x":237,"y":606,"wires":[]},{"id":"b12b358.bba5dc8","type":"ui_gauge","z":"46354152.b1897","name":"","group":"2201ded9.58b172","order":4,"width":0,"height":0,"gtype":"gage","title":"Hours of Direct Sun","label":"Hours","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1162,"y":642,"wires":[]},{"id":"1905ae0.4919852","type":"function","z":"46354152.b1897","name":"Warning","func":"msg.warning = {};\nif(msg.payload>=1) {\n    msg.warning = \"get in the shade!\";\n} else if(msg.payload<0.1 && msg.payload>=0) {\n    msg.warning = \"get some sun!\";\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":1036,"y":745,"wires":[["812375c9.5a3d58"]]},{"id":"812375c9.5a3d58","type":"ui_text","z":"46354152.b1897","group":"2201ded9.58b172","order":5,"width":0,"height":0,"name":"Warning","label":"Warning!","format":"{{msg.warning}}","layout":"col-center","x":1193,"y":745,"wires":[]},{"id":"5d5b35d5.0bd0ac","type":"comment","z":"46354152.b1897","name":"Collecting data from phone sensors","info":"","x":164,"y":46,"wires":[]},{"id":"5f5e86b8.902f78","type":"comment","z":"46354152.b1897","name":"Collecting data from weather forecast","info":"","x":337,"y":745,"wires":[]},{"id":"2fa32f7d.b88ae","type":"comment","z":"46354152.b1897","name":"Makes activity suggestion depending on weather","info":"","x":1058,"y":1060,"wires":[]},{"id":"d046fa88.a41eb8","type":"comment","z":"46354152.b1897","name":"Plotting the acceleration and speed","info":"","x":505,"y":126,"wires":[]},{"id":"cc89d093.4e3","type":"ui_text","z":"46354152.b1897","group":"f4abca98.9df188","order":3,"width":0,"height":0,"name":"Phone position:","label":"Phone position:","format":"{{msg.manner}}","layout":"col-center","x":957,"y":354,"wires":[]},{"id":"49319ba9.0d8d94","type":"comment","z":"46354152.b1897","name":"Avg acceleration to work out phone position","info":"","x":386,"y":312,"wires":[]},{"id":"ce072ee8.3375f","type":"comment","z":"46354152.b1897","name":"Averaging speed to classify motion","info":"","x":212,"y":459,"wires":[]},{"id":"3f8c283b.6e7158","type":"comment","z":"46354152.b1897","name":"Classify motion and plot hrs of activity","info":"","x":761,"y":448,"wires":[]},{"id":"314beb0b.057484","type":"comment","z":"46354152.b1897","name":"Calculates hrs spent in sun from Walking and Cycling activities","info":"","x":1033,"y":601,"wires":[]},{"id":"a2a017c9.077ca8","type":"comment","z":"46354152.b1897","name":"Warning if too much or too little sun","info":"","x":1114,"y":706,"wires":[]},{"id":"21507d55.749ff2","type":"comment","z":"46354152.b1897","name":"Calculates hrs of daylight remaining","info":"","x":869,"y":818,"wires":[]},{"id":"be589e78.840cf","type":"comment","z":"46354152.b1897","name":"Plots the wind speed","info":"","x":968,"y":944,"wires":[]},{"id":"8ad3c32f.8f3be","type":"function","z":"46354152.b1897","name":"Warning","func":"msg.warning = {};\nif(msg.payload>=0.5) {\n    msg.warning = \"You should move a bit now\";\n} else {msg.warning = \"Nothing to report\";}\n\nreturn msg;","outputs":1,"noerr":0,"x":1211,"y":430,"wires":[["3561988a.e53688"]]},{"id":"3561988a.e53688","type":"ui_text","z":"46354152.b1897","group":"2201ded9.58b172","order":1,"width":0,"height":0,"name":"Warning","label":"No Motion:","format":"{{msg.warning}}","layout":"row-center","x":1368,"y":430,"wires":[]},{"id":"f32d974e.29adb8","type":"comment","z":"46354152.b1897","name":"Warning if no motion for too long","info":"","x":1279,"y":391,"wires":[]},{"id":"3fbc2699.08d30a","type":"function","z":"46354152.b1897","name":"Warning","func":"msg.warning = {};\nif(msg.payload>=2) {\n    msg.warning = \"You should take a break from driving!\";\n} else {\n    msg.warning = \"Nothing to report\";\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":1212,"y":513,"wires":[["fd1276ac.405b58"]]},{"id":"fd1276ac.405b58","type":"ui_text","z":"46354152.b1897","group":"2201ded9.58b172","order":3,"width":0,"height":0,"name":"Warning","label":"Driving:","format":"{{msg.warning}}","layout":"row-center","x":1369,"y":513,"wires":[]},{"id":"287c0f38.fc2f4","type":"comment","z":"46354152.b1897","name":"Warning if driving for too long","info":"","x":1270,"y":474,"wires":[]},{"id":"90e757c6.6a7c88","type":"function","z":"46354152.b1897","name":"temperature","func":"var newMsg = { payload: msg.payload.tempc };\n\nreturn newMsg;","outputs":1,"noerr":0,"x":506,"y":983,"wires":[["99b2f7ed.c97ce8"]]},{"id":"2221a04d.235ac","type":"comment","z":"46354152.b1897","name":"Plots the current temperature","info":"","x":556,"y":941,"wires":[]},{"id":"99b2f7ed.c97ce8","type":"ui_gauge","z":"46354152.b1897","name":"Temperature","group":"298b986.343f268","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":728,"y":983,"wires":[]},{"id":"338351b3.a82d4e","type":"function","z":"46354152.b1897","name":"location","func":"var newMsg = { payload: msg.payload.location };\n\nreturn newMsg;","outputs":1,"noerr":0,"x":494,"y":1098,"wires":[["c1d762c5.2ef8b"]]},{"id":"8521f6c2.31a868","type":"comment","z":"46354152.b1897","name":"Phone location","info":"","x":514,"y":1056,"wires":[]},{"id":"c1d762c5.2ef8b","type":"ui_text","z":"46354152.b1897","group":"f4abca98.9df188","order":1,"width":0,"height":0,"name":"location","label":"Location:","format":"{{msg.payload}}","layout":"col-center","x":694,"y":1099,"wires":[]},{"id":"f4abca98.9df188","type":"ui_group","z":"","name":"Group 1","tab":"6c257b65.9acd84","disp":true,"width":"6"},{"id":"298b986.343f268","type":"ui_group","name":"Group 2","tab":"6c257b65.9acd84","order":2,"disp":true,"width":6},{"id":"2201ded9.58b172","type":"ui_group","z":"","name":"Group3","tab":"6c257b65.9acd84","disp":true,"width":"6"},{"id":"6c257b65.9acd84","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
